*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.item{
    background-color: black;
    color: black;
    font-size: 35px;
    padding: 20px;
    margin: 10px; 
}

nav{
    background-color: rgb(245, 172, 172);
    border-color: white;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    text-align: center;
    text-decoration-style: wavy;
    text-transform: uppercase;
    color: darkred;
    margin-bottom: 1.5rem;
}

a{
    text-decoration: none;
    color: white;   
}

a:hover{
    color: darkred;
}

.item-2{
    background-color: tan;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.textbox{
    width: 45%;
    font-family: poppins;
}

.item-2 img{
    position: absolute;
    top: 40%;
    right: 10%;
    border: 2px solid rgb(255, 187, 0);
}

.button{
    border: 3px solid rgb(110, 236, 94);
    color: whitesmoke;
    margin-top: 1.5rem;
    text-decoration: none;
    display: inline-block;  
}

.imageBox{
    max-width: 10opx;
    margin: auto;
    text-align: center;
}

.imageBox img{
    height: 20%;
    width: 20%;
    margin: 5px;
    padding: 5px;
    border: 2px dotted white;
    align-self: baseline;
}
audio{
    border: 0.2px solid black;
    margin-top: 1.5rem;
}

.img:hover{
    background-size: 200%;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(165, 130, 130);
    color: white;
    text-align: center;
  }
@media only screen and (max-width: 768px){
    .center{
        width: 90%;
    }
    .center .textbox{
        width: 100%;
    }
    .center img{
        display: none;
    }
}